<h1>LOGIN</h1>

<form method="post">
    <label>Usuario</label>
    <input type="text" name="username" />
    <label>Password</label>
    <input type="text" name="password" />
    <button class="btn btn-primary mt-3">
        Login
    </button>
</form>